.infocon{
    text-align: center;
    color: white;
}

.ml{
    margin-top: 2.5em;
    font-size: 24px;
}
.sl{
    font-size: 20px;
    margin-bottom: 2em;
}
/* .infol{
    font-size: 30px;
    font-weight: 600;
} */