.homeboday {
    height: 100%;
}

.maincon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}

.seccon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}


.center {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.logo {
    width: auto;
    height: 150px;
    z-index: 100;
}

@media (max-width: 768px) {
    .maincon {
        flex-direction: column;
        align-items: center;
    }

    .seccon {
        margin-bottom: 20px;
    }
}