.box {
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;
  
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #000000,
      #000000 25%,
      #000000 50%,
      #000000 75%,
      #000000
    );
  
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      #38bff87f,
      #818cf8,
      #c084fc,
      #e879f9,
      #22d3ee
    );
  
    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;
  
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;
  }
  
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  
  /* Define the custom property */
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  