@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #020202;
    border-radius: 5px;
    height: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}